In [1]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/tabular-playground-series-sep-2021/train.csv
/kaggle/input/tabular-playground-series-sep-2021/test.csv
/kaggle/input/tabular-playground-series-sep-2021/sample_solution.csv

## Table of content
- A. [Prepare data with Null values for the example](#section-a)
- B. [Methods to handle the missing values](#section-b)
    - 1. [Drop the data](#section-drop)
    - 2. [Fill the places with any of 5 Ms (Mean/Median/Mode/Max/Min)](#section-5m)
    - 3. [Fill the place with some constant value](#section-constant)
    - 4. [Predict the missing values](#section-predict)
        - 4.1.[Model-based strategy](#section-model-based)
        - 4.2.[Progressive model-based strategy](#section-progressive-model-based)
    - 5. [Use models which support missing values](#section-model)

<a id="section-a"></a>
# A. Prepare data with Null values for the example

In [2]:
data_ = pd.read_csv("../input/tabular-playground-series-sep-2021/train.csv",index_col = 0)

In [3]:
# keeping just 50 rows for my example.
def create_data():
    data = data_.iloc[0:50,30:50]
    return data
data = create_data()
print("Shape of the data------>{}".format(data.shape))
data.head()

Shape of the data------>(50, 20)

,f31,f32,f33,f34,f35,f36,f37,f38,f39,f40,f41,f42,f43,f44,f45,f46,f47,f48,f49,f50
id,,,,,,,,,,,,,,,,,,,,
0,0.75050,18509.0,146820.0,-0.000276,1.090600e+16,1705.400,414.29,3.5392,1888.0,0.968930,18.3880,-0.001583,7.7059,5.9325,0.025693,4.5604,0.61122,10.7950,0.341930,0.235010
1,1.50330,238000.0,21440.0,-0.001344,3.079400e+16,229.100,844.82,1.4680,4726.5,0.915380,-1.5321,0.982600,7.1112,2.0797,0.042321,4.2523,0.41871,5.4499,0.012737,0.386470
2,1.13180,27940.0,862460.0,-0.002207,5.849100e+13,-897.840,NaN,1.3561,3063.4,0.086232,16.1060,0.001481,11.4760,5.3430,0.012162,4.1018,-0.88270,8.1228,-0.676690,0.337700
3,0.98941,301200.0,NaN,-0.000007,-9.299200e+13,-10.818,1020.30,2.9553,3342.5,-0.000372,17.0110,0.095268,5.7448,15.8830,0.037934,4.4860,-0.88909,8.4384,-1.189800,0.001391
4,0.97413,142620.0,231350.0,0.001257,1.012500e+16,51.508,293.76,1.3351,3042.1,0.006791,94.8890,0.917090,8.7369,NaN,0.020281,3.9115,0.65634,6.1410,-1.089600,0.247940

In [4]:
# find the missing values.
features = data.columns.tolist()[0:-1]


#find the missing values w.r.t. column
colum_missing = data.isnull().sum()
# find the missing values w.r.t. row(number of missing values in the particular row)
row_missing = data[features].isnull().sum(axis=1)

# add the missing values to row to the dataframe as a new value
data['no_of_missing_data'] = row_missing

In [5]:
colum_missing

f31    0
f32    1
f33    2
f34    1
f35    1
f36    2
f37    3
f38    0
f39    0
f40    0
f41    1
f42    1
f43    1
f44    2
f45    2
f46    0
f47    0
f48    1
f49    0
f50    0
dtype: int64

In [6]:
print(f"Total number of missing values in training dataset---->{data.shape[0]}")

# compare this to the whole data
no_of_missing_rows = (data['no_of_missing_data'] != 0).sum()
print("\n{0:{fill}{align}80}\n".format(" Data Summary " , fill = "=", align = "^"))
print(f"Total rows -----------------------> {data.shape[0]}\nNumber of rows has missing data---> {no_of_missing_rows}\n{'-'*50}\nNumber of rows has full data--------> {data.shape[0] - no_of_missing_rows}")

Total number of missing values in training dataset---->50

================================= Data Summary =================================

Total rows -----------------------> 50
Number of rows has missing data---> 17
--------------------------------------------------
Number of rows has full data--------> 33

<a id="section-b"></a>
# B. Methods to handle the missing values

<a id="section-drop"></a>
## 1. Drop the data

In this method, we simply delete the rows or features/columns which has the Null value. We will delete a row if there are more missing values (say 70-75%) same goes for the columns. This is only preferred to use when we have enough samples in the dataset.  We can delete a feature/column when it has less feature importance over prediction. One has to make sure there is no add of bias, after we have removed the data.

Build-in functions:
- dropna() --> https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

Pros: 
1. Removing this unwanted data sometimes make our model more accurate.
2. Deleting a column with less importance is better, since there is no use of keeping this with full of null values and no use of speding time handling this.

Cons:
1. Loss of information.
2. Redure prediction accuracy --> when we have a big number of missing values.

In [7]:
# Example.
row_drop = create_data()
# Drop the rows with null value
row_drop.dropna( how = 'any' , inplace = True) # we can change how to any/all . if 'all' the row will be deleted when it has all values as null values.
row_drop.isnull().sum()

f31    0
f32    0
f33    0
f34    0
f35    0
f36    0
f37    0
f38    0
f39    0
f40    0
f41    0
f42    0
f43    0
f44    0
f45    0
f46    0
f47    0
f48    0
f49    0
f50    0
dtype: int64

In [8]:
# Drop the column --> here the f37  has '3' values. we can delete if we want to..
data = create_data()
data = data_.drop('f37', axis = 1)
data.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f110,f111,f112,f113,f114,f115,f116,f117,f118,claim
id,,,,,,,,,,,,,,,,,,,,,
0,0.10859,0.004314,-37.566,0.017364,0.28915,-10.25100,135.12,168900.0,3.992400e+14,86.489,...,-12.2280,1.7482,1.90960,-7.11570,4378.80,1.2096,8.613400e+14,140.1,1.01770,1
1,0.10090,0.299610,11822.000,0.276500,0.45970,-0.83733,1721.90,119810.0,3.874100e+15,9953.600,...,-56.7580,4.1684,0.34808,4.14200,913.23,1.2464,7.575100e+15,1861.0,0.28359,0
2,0.17803,-0.006980,907.270,0.272140,0.45948,0.17327,2298.00,360650.0,1.224500e+13,15827.000,...,-5.7688,1.2042,0.26290,8.13120,45119.00,1.1764,3.218100e+14,3838.2,0.40690,1
3,0.15236,0.007259,780.100,0.025179,0.51947,7.49140,112.51,259490.0,7.781400e+13,-36.837,...,-34.8580,2.0694,0.79631,-16.33600,4952.40,1.1784,4.533000e+12,4889.1,0.51486,1
4,0.11623,0.502900,-109.150,0.297910,0.34490,-0.40932,2538.90,65332.0,1.907200e+15,144.120,...,-13.6410,1.5298,1.14640,-0.43124,3856.50,1.4830,-8.991300e+12,NaN,0.23049,1

<a id="section-5m"></a>
## 2. Fill the places with any of 5 Ms (Mean/Median/Mode/Max/Min)

In this method, we can replace the null value with some approximations (Average(mean), Median, Mode, Min, and Max). This method can be used with the numerical columns. Even this is an approximate calculation for the null value, It is better than deleting the rows and columns. The Mean, Median, Mode are a statistical approach to handling the missing values. 

Build-in functions:
- fillna() --> https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html ( with different methods)
- SimpleImputer--> https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html

Pros:
1. There is no loss of information.
2. Better approach with small dataset.

Cons:
1. Imputing the approximations add variance and bias.

### Example with SimpleImputer() ---> for mean / median / mode
Chnage the strategy to ----> mean / median / most_frequent(mode) --------->median is the most frequently used strategy

In [9]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values = np.nan, strategy = "mean")

data_before = data.copy()
#print(data_before.isnull().sum())
data_after = pd.DataFrame(imputer.fit_transform(data_before))
#print(data_after.isnull().sum())

### Example with replace() ---> for max / min

In [10]:
data.head(5)

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f110,f111,f112,f113,f114,f115,f116,f117,f118,claim
id,,,,,,,,,,,,,,,,,,,,,
0,0.10859,0.004314,-37.566,0.017364,0.28915,-10.25100,135.12,168900.0,3.992400e+14,86.489,...,-12.2280,1.7482,1.90960,-7.11570,4378.80,1.2096,8.613400e+14,140.1,1.01770,1
1,0.10090,0.299610,11822.000,0.276500,0.45970,-0.83733,1721.90,119810.0,3.874100e+15,9953.600,...,-56.7580,4.1684,0.34808,4.14200,913.23,1.2464,7.575100e+15,1861.0,0.28359,0
2,0.17803,-0.006980,907.270,0.272140,0.45948,0.17327,2298.00,360650.0,1.224500e+13,15827.000,...,-5.7688,1.2042,0.26290,8.13120,45119.00,1.1764,3.218100e+14,3838.2,0.40690,1
3,0.15236,0.007259,780.100,0.025179,0.51947,7.49140,112.51,259490.0,7.781400e+13,-36.837,...,-34.8580,2.0694,0.79631,-16.33600,4952.40,1.1784,4.533000e+12,4889.1,0.51486,1
4,0.11623,0.502900,-109.150,0.297910,0.34490,-0.40932,2538.90,65332.0,1.907200e+15,144.120,...,-13.6410,1.5298,1.14640,-0.43124,3856.50,1.4830,-8.991300e+12,NaN,0.23049,1

In [11]:
# Example to replace with max in that column.
data_max = data.copy()
for f in data.columns.tolist():
    data_max[f] = data_max[f].replace(np.NaN, data[f].max())
data_max.head(5)

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f110,f111,f112,f113,f114,f115,f116,f117,f118,claim
id,,,,,,,,,,,,,,,,,,,,,
0,0.10859,0.004314,-37.566,0.017364,0.28915,-10.25100,135.12,168900.0,3.992400e+14,86.489,...,-12.2280,1.7482,1.90960,-7.11570,4378.80,1.2096,8.613400e+14,140.1,1.01770,1
1,0.10090,0.299610,11822.000,0.276500,0.45970,-0.83733,1721.90,119810.0,3.874100e+15,9953.600,...,-56.7580,4.1684,0.34808,4.14200,913.23,1.2464,7.575100e+15,1861.0,0.28359,0
2,0.17803,-0.006980,907.270,0.272140,0.45948,0.17327,2298.00,360650.0,1.224500e+13,15827.000,...,-5.7688,1.2042,0.26290,8.13120,45119.00,1.1764,3.218100e+14,3838.2,0.40690,1
3,0.15236,0.007259,780.100,0.025179,0.51947,7.49140,112.51,259490.0,7.781400e+13,-36.837,...,-34.8580,2.0694,0.79631,-16.33600,4952.40,1.1784,4.533000e+12,4889.1,0.51486,1
4,0.11623,0.502900,-109.150,0.297910,0.34490,-0.40932,2538.90,65332.0,1.907200e+15,144.120,...,-13.6410,1.5298,1.14640,-0.43124,3856.50,1.4830,-8.991300e+12,13151.0,0.23049,1

Above we can see (4,f44) has NaN value in the original data. But after replacement that value is filled with the max() of that particular column.<br>
Change max() with min() to use min function.

<a id="section-constant"></a>
## 3. Fill the place with some constant value

In this method, we will add some constant fixed values in place of null values. for example, people's gender has only two categories, some follower classification has 4-5 classes, etc. Here we can add another class/category named 'Unknow' this will add more information to the dataset at the same time prevent information loss. In numerical columns, we can take some constant values to mark these places as null values. We can use -9999 or any number which seems correct for you. <br>
Will be a  problem for categorical values, since they need to convert into numerical form. We will use some encoding technology for this like "one-hot encoding". This will increase the number of columns when we are adding one more class.

Build-in functions:
- SimpleImputer--> https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html

Pros:
1. no loss of information here.
2. We have more control oue the new class/feature--> we can delete the data belonged to this class or do what ever we want.

Cons:
1. Peoblem in Encoding which may redice our accuracy.

In [12]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values = np.nan, strategy = "constant", fill_value = -9999)

data_before = data.copy()
#print(data_before.isnull().sum())
data_after = pd.DataFrame(imputer.fit_transform(data_before))
#print(data_after.isnull().sum())

In [13]:
# Example to replace with max in that column.
data_max = data.copy()
for f in data.columns.tolist():
    data_max[f] = data_max[f].replace(np.NaN, -9999)
data_max.head(5)

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f110,f111,f112,f113,f114,f115,f116,f117,f118,claim
id,,,,,,,,,,,,,,,,,,,,,
0,0.10859,0.004314,-37.566,0.017364,0.28915,-10.25100,135.12,168900.0,3.992400e+14,86.489,...,-12.2280,1.7482,1.90960,-7.11570,4378.80,1.2096,8.613400e+14,140.1,1.01770,1
1,0.10090,0.299610,11822.000,0.276500,0.45970,-0.83733,1721.90,119810.0,3.874100e+15,9953.600,...,-56.7580,4.1684,0.34808,4.14200,913.23,1.2464,7.575100e+15,1861.0,0.28359,0
2,0.17803,-0.006980,907.270,0.272140,0.45948,0.17327,2298.00,360650.0,1.224500e+13,15827.000,...,-5.7688,1.2042,0.26290,8.13120,45119.00,1.1764,3.218100e+14,3838.2,0.40690,1
3,0.15236,0.007259,780.100,0.025179,0.51947,7.49140,112.51,259490.0,7.781400e+13,-36.837,...,-34.8580,2.0694,0.79631,-16.33600,4952.40,1.1784,4.533000e+12,4889.1,0.51486,1
4,0.11623,0.502900,-109.150,0.297910,0.34490,-0.40932,2538.90,65332.0,1.907200e+15,144.120,...,-13.6410,1.5298,1.14640,-0.43124,3856.50,1.4830,-8.991300e+12,-9999.0,0.23049,1

<a id="section-predict"></a>
## 4.Predict the missing values

In this method, we will predict/guess the value of a missing/null feature with the help of other non-null features. It is a more effective method when compared to other handling methods. This method may result in better accuracy. But, there is a problem with finding the correct predicting model. We need to try all the algorithms and pick the one with better accuracy. This is a good idea to try different algorithms instead of hoping for one.

### Two ways:
- 1. Model-based strategy 
- 2. Progressive model-based strategy

#### Model-based strategy:
Let fix a feature as a target feature train_y (having null values). Split this feature as having a null value set and having a non-null value set. The rows in the non-null value set makes the training data and the rows in the null values set makes the testing data. After this split, the data as train_x and train_y, train the model with this. Using this model we can find the value of the missing value in the target feature. see the example to get a clear understanding.
#### Progressive model-based strategy:
Same as above, but after we find the missing values in a given feature, we consider the feature as a predictor for predicting the missing values of the next feature.

Models:
1. linear regression.
2. KNN
3. logistric regression.

<a id="section-model-based"></a>
### Model-based Imputation strategy

In [16]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values = np.nan, strategy = "constant", fill_value = -9999)

# need some feature without null value , so creating one dataset randomly
def generate_data_predict_section(data, imputer):
    data = data.iloc[11000:12000,30:45]
    # impute some feature with constant to make dataset i want.
    data.iloc[:,0:14] = pd.DataFrame(imputer.fit_transform(data.iloc[:,0:14]))
    return data
data_predict_section  = generate_data_predict_section(data_,imputer)

In [17]:
data_predict_section.isnull().sum()
# this is the data i am going to use, 14  non-null features -- 1 null features.

f31     0
f32     0
f33     0
f34     0
f35     0
f36     0
f37     0
f38     0
f39     0
f40     0
f41     0
f42     0
f43     0
f44     0
f45    18
dtype: int64

In [18]:
from sklearn.linear_model import LinearRegression

# method for Model-based strategy using Linear regression. i am taking only one null feature here. you can do the same for all other null features.
def model_based_imputation(data):
    # find the null features.
    feature_with_null = data.columns[data.isnull().any()].tolist()
    # find the non-null feature.
    feature_without_null = [col for col in list(data.columns) if col not in feature_with_null]
    
    # split train ans test data fro each null col and make prediction.
    for col in feature_with_null:
        test = data[data[col].isnull()]
        train = data.dropna()
        
        # split as train_x and train_y 
        train_x, train_y = train[feature_without_null], train[feature_with_null]
        test_x = test[feature_without_null]
        
        # train the model.
        linear = LinearRegression().fit(train_x, train_y)
        #predict the results
        pred_y = linear.predict(test_x)
        
        # set back to dataset.
        data.loc[test_x.index,feature_with_null] = pred_y
        
            
    return data

data_after = model_based_imputation(data_predict_section)
data_after.isnull().sum()

f31    0
f32    0
f33    0
f34    0
f35    0
f36    0
f37    0
f38    0
f39    0
f40    0
f41    0
f42    0
f43    0
f44    0
f45    0
dtype: int64

<a id = "section-progressive-model-based"></a>
### Progressive model-based imputation strategy

In [19]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values = np.nan, strategy = "constant", fill_value = -9999)

# need some feature without null value , so creating one dataset randomly
def generate_data_predict_section(data, imputer):
    data = data.iloc[11000:12000,30:45]
    # impute some feature with constant to make dataset i want.
    data.iloc[:,0:10] = pd.DataFrame(imputer.fit_transform(data.iloc[:,0:10]))
    return data
data_predict_section  = generate_data_predict_section(data_,imputer)

In [20]:
data_predict_section.isnull().sum()
# this is the data i am going to use, 10  non-null features -- 5 null features.

f31     0
f32     0
f33     0
f34     0
f35     0
f36     0
f37     0
f38     0
f39     0
f40     0
f41    15
f42    21
f43    13
f44    15
f45    18
dtype: int64

In [21]:
from sklearn.linear_model import LinearRegression

# method for Model-based strategy using Linear regression. i am taking only one null feature here. you can do the same for all other null features.
def progressive_model_based_imputation(data):
    # find the null features.
    feature_with_null = data.columns[data.isnull().any()].tolist()
    # find the non-null feature.
    feature_without_null = [col for col in list(data.columns) if col not in feature_with_null]
    #generate data without any null values
    data_non_null = data[feature_without_null].copy()
    data_null = data[feature_with_null].copy()
    # split train ans test data fro each null col and make prediction.
    for col in feature_with_null:
        print(col)
        # add the first null feature to data for predcition
        data_non_null[col] = data_null[col]
        test = data_non_null[data_non_null[col].isnull()]
        train = data_non_null.dropna()
        
        # split as train_x and train_y 
        train_x, train_y = train[feature_without_null], train[col]
        test_x = test[feature_without_null]
        # train the model.
        linear = LinearRegression().fit(train_x, train_y)
        #predict the results
        pred_y = linear.predict(test_x)
        
        # set back to dataset.
        data_non_null.loc[test_x.index,col] = pred_y
        #print(data_non_null.isnull().sum())
        # add the col to feature_without_null list ---> because it has no null value now and it can be used for prediction as a training data.
        feature_without_null.append(col)
        #print(feature_without_null)

    return data_non_null

data_after = progressive_model_based_imputation(data_predict_section)
print("The dataset after the progressive based imputation")
data_after.isnull().sum()

f41
f42
f43
f44
f45
The dataset after the progressive based imputation

f31    0
f32    0
f33    0
f34    0
f35    0
f36    0
f37    0
f38    0
f39    0
f40    0
f41    0
f42    0
f43    0
f44    0
f45    0
dtype: int64

<a id="section-model"></a>
## 5. Use models which support missing values

We can use some models which can supports null values. 
Example - KNN

### Completing your reading...

### hope this will help some people like me :) please upvote if you find this helpful.